
/* 
    Created on : Jun 4, 2022, 10:02:24 PM
    Author     : Muhammad Ayoob Bugti
*/
body{
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 18px;
}

.error{
    color: #FF0000;
}

.success{
    color: #0000FF;
    
    
}